@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Home Page";
}

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Login", "About", "Home")</li>
        <li>@Html.ActionLink("Register", "About", "Home")</li>
    </ul>
</div>