
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Login", "Index", "Home")</li>
        <li>@Html.ActionLink("Register", "Register", "Home")</li>
    </ul>
</div>