
@{
    ViewBag.Title = "ManageCompanyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .DetailsRequired {
        font-size: 15px;
        color: red;
    }

    .bg {
        background-color: lightgrey;
    }

    #head {
        padding: 1px;
    }

    tr {
        border-bottom: 1px solid #ddd;
    }

        tr:nth-child(even) {
            background-color: #f2f2f3;
        }

    th {
        background-color: lightgrey;
        color: black;
    }

    input.placeholder {
        text-align: center;
    }
</style>

<div class="container-fluid">
    <h3 class="box-title">เพิ่ม / แก้ไขข้อมูลบริษัท</h3>
</div><hr />

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#page1">หน้าที่ 1</a></li>
    <li><a data-toggle="tab" href="#page2">หน้าที่ 2</a></li>
    <li><a data-toggle="tab" href="#page3">หน้าที่ 3</a></li>
    <li><a data-toggle="tab" href="#page4">หน้าที่ 4</a></li>
    <li><a data-toggle="tab" href="#more">รูปภาพและอื่นๆ</a></li>

</ul>

<div class="btn-group" style="float: right">
    <input type="submit" value="ล้างข้อมูล" class="btn btn-primary btn-sm" id="Clear" />
    <input type="button" value="บันทึก" class="btn btn-primary btn-sm" id="Save" />
    <input type="button" value="ลบ" class="btn btn-primary btn-sm" id="Delete" />
    <input type="submit" value="ค้นหา" class="btn btn-primary btn-sm" id="Find" />
    <input type="submit" value="ดูตัวอย่าง" class="btn btn-primary btn-sm" id="Preview" />
    <input type="submit" value="พิมพ์" class="btn btn-primary btn-sm" id="Print" />
</div>
<br />
<br />
<br />

<!-- Content Tab page1 -->
<div class="tab-content">
    <div id="page1" class="tab-pane fade in active">
        <div class="container-fluid">
            <br />
            <div class="row">
                <div class="col-md-2">
                    <div style="text-align: left">รหัสบริษัท</div>
                    <input class="form-control" ID="CompID" name="CompID" placeholder="รหัสบริษัท" />
                </div>
            </div><br />

            <div class="row">
                <div class="col-md-8">
                    <div style="text-align: left">ชื่อภาษาไทย</div>
                    <input class="form-control" ID="NameTH" name="NameTH" placeholder="ชื่อภาษาไทย" />
                </div>
                <div class="col-md-4">
                    <div style="text-align: left">รหัสไปรษณีย์</div>
                    <input class="form-control" ID="PostCode" name="PostCode" placeholder="รหัสไปรษณีย์" />
                </div>
            </div><br />

            <div class="row">
                <div class="col-md-8">
                    <div style="text-align: left">ชื่อย่อภาษาไทย</div>
                    <input class="form-control" ID="IntNameTH" name="IntNameTH" placeholder="ชื่อภาษาไทย" />
                </div>
                <div class="col-md-4">
                    <div style="text-align: left">โทรศัพท์</div>
                    <input class="form-control" ID="Tel" name="Tel" placeholder="โทรศัพท์" />
                </div>
            </div><br />

            <div class="row">
                <div class="col-md-8">
                    <div style="text-align: left">ชื่อภาษา 2</div>
                    <input class="form-control" ID="OtherName" name="OtherName" placeholder="ชื่อภาษา 2" />
                </div>
                <div class="col-md-4">
                    <div style="text-align: left">แฟ็กซ์</div>
                    <input class="form-control" ID="Fax" name="Fax" placeholder="แฟ็กซ์" />
                </div>
            </div><br />

            <div class="row">
                <div class="col-md-8">
                    <div style="text-align: left">ชื่อย่อภาษา 2</div>
                    <input class="form-control" ID="IntNameOther" name="IntNameOther" placeholder="ชื่อย่อภาษา 2" />
                </div>
                <div class="col-md-4">
                    <div style="text-align: left">วันที่เริ่มใช้ระบบ</div>
                    <input class="form-control" type="date" name="SystemStartDate" ID="SystemStartDate" />
                </div>
            </div><br />

            <div class="row">
                <div class="col-md-8">
                    <div style="text-align: left">ที่อยู่ภาษาไทย</div>
                    <textarea class="form-control" rows="5" id="AddressTH" placeholder="ที่อยู่ภาษาไทย"></textarea>
                </div>
                <div class="col-md-4">
                    <div style="text-align: left">เลขที่ผู้เสียภาษี</div>
                    <input class="form-control" ID="TaxNo" name="TaxNo" placeholder="เลขที่ผู้เสียภาษี" />
                </div>
            </div><br />

            <div class="row">
                <div class="col-md-8">
                    <div style="text-align: left">ที่อยู่ภาษา 2</div>
                    <textarea class="form-control" rows="5" id="AddressOT" placeholder="ที่อยู่ภาษา 2"></textarea>
                </div>
            </div><br />
        </div>
    </div>

    <!-- Content Tab page2 -->
    <div id="page2" class="tab-pane fade container-fluid">
        <div class="container-fluid">
            <br />
            <h4>จำนวนหลักตัวเลขสูงสุดที่ใช้ในการบันทึกข้อมูล</h4><br /><br />

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2" id="head">จำนวนหลักของจำนวนสินค้า  </div>
                <div class="col-md-1" id="head">
                    <input class="form-control" placeholder="0" style="text-align: center" name="ProductCount" ID="ProductCount" />
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-1" id="head">
                    <input class="form-control" placeholder="0" style="text-align: center" name="ProductCount2" ID="ProductCount2" />
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3" id="head">
                    <input class="form-control" placeholder="" style="text-align: center" name="ProductCount3" ID="ProductCount3" />
                </div>
            </div><br />

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2" id="head">จำนวนหลักของราคาสินค้า  </div>
                <div class="col-md-1" id="head">
                    <input class="form-control" placeholder="0" style="text-align: center" name="ProductPrice" ID="ProductPrice" />
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-1" id="head">
                    <input class="form-control" placeholder="0" style="text-align: center" name="ProductPrice2" ID="ProductPrice2" />
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3" id="head">
                    <input class="form-control" placeholder="" style="text-align: center" name="ProductPrice3" ID="ProductPrice3" />
                </div>
            </div><br />

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2" id="head">จำนวนหลักของจำนวนเงิน  </div>
                <div class="col-md-1" id="head">
                    <input class="form-control" placeholder="0" style="text-align: center" name="PriceCount" ID="PriceCount" />
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-1" id="head">
                    <input class="form-control" placeholder="0" style="text-align: center" name="PriceCount2" ID="PriceCount2" />
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3" id="head">
                    <input class="form-control" placeholder="" style="text-align: center" name="PriceCount3" ID="PriceCount3" />
                </div>
            </div><br />

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2" id="head">จำนวนหลักของมูลค่าภาษี  </div>
                <div class="col-md-1" id="head">
                    <input class="form-control" placeholder="0" style="text-align: center" name="TaxCount" ID="TaxCount" />
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-1" id="head">
                    <input class="form-control" placeholder="0" style="text-align: center" name="TaxCount2" ID="TaxCount2" />
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3" id="head">
                    <input class="form-control" placeholder="" style="text-align: center" name="TaxCount3" ID="TaxCount3" />
                </div>
            </div><br />

        </div>
    </div>

    <!-- Content Tab page3 -->
    <div id="page3" class="tab-pane fade container-fluid">
        <div class="container-fluid">
            <br />
            <h4>จำนวนหลักตัวเลขสูงสุดที่ใช้ในการแสดงรายงาน</h4><br /><br />

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2" id="head">จำนวนหลักของจำนวนสินค้า  </div>
                <div class="col-md-1" id="head">
                    <input class="form-control" placeholder="0" style="text-align: center" name="ProductCount" ID="ProductCount" />
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-1" id="head">
                    <input class="form-control" placeholder="0" style="text-align: center" name="ProductCount2" ID="ProductCount2" />
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3" id="head">
                    <input class="form-control" placeholder="" style="text-align: center" name="ProductCount3" ID="ProductCount3" />
                </div>
            </div><br />

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2" id="head">จำนวนหลักของราคาสินค้า  </div>
                <div class="col-md-1" id="head">
                    <input class="form-control" placeholder="0" style="text-align: center" name="ProductPrice" ID="ProductPrice" />
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-1" id="head">
                    <input class="form-control" placeholder="0" style="text-align: center" name="ProductPrice2" ID="ProductPrice2" />
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3" id="head">
                    <input class="form-control" placeholder="" style="text-align: center" name="ProductPrice3" ID="ProductPrice3" />
                </div>
            </div><br />

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2" id="head">จำนวนหลักของจำนวนเงิน  </div>
                <div class="col-md-1" id="head">
                    <input class="form-control" placeholder="0" style="text-align: center" name="PriceCount" ID="PriceCount" />
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-1" id="head">
                    <input class="form-control" placeholder="0" style="text-align: center" name="PriceCount2" ID="PriceCount2" />
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3" id="head">
                    <input class="form-control" placeholder="" style="text-align: center" name="PriceCount3" ID="PriceCount3" />
                </div>
            </div><br />

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2" id="head">จำนวนหลักของมูลค่าภาษี  </div>
                <div class="col-md-1" id="head">
                    <input class="form-control" placeholder="0" style="text-align: center" name="TaxCount" ID="TaxCount" />
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-1" id="head">
                    <input class="form-control" placeholder="0" style="text-align: center" name="TaxCount2" ID="TaxCount2" />
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3" id="head">
                    <input class="form-control" placeholder="" style="text-align: center" name="TaxCount3" ID="TaxCount3" />
                </div>
            </div><br />

        </div>
    </div>

    <!-- Content Tab page4 -->
    <div id="page4" class="tab-pane fade container-fluid">
        <div class="container-fluid">
            <br />
            <h4>การนับยอดสต็อก</h4><hr />
            <div class="row">
                <div class="col-md-4">
                    <input type="radio" name="Stock" value="A"> นับยอดสต็อกและติดลบไม่ได้<br>
                </div>
                <div class="col-md-4">
                    <input type="radio" name="Stock" value="B"> นับยอดสต็อกและติดลบได้<br>
                </div>
                <div class="col-md-4">
                    <input type="radio" name="Stock" value="C"> ไม่นับยอดสต็อก<br>
                </div>
            </div><br /><hr />

            <div class="row">
                <div class="col-md-4">
                    <input type="checkbox" name="active" value="active">ใช้ระบบจองสินค้าและสร้างใบขอซื้ออัตโนมัติ<br>
                </div>
            </div><br /><hr />

            <h4>รูปแบบการจองสินค้าและวัตถุดิบ</h4><hr />
            <div class="row">
                <div class="col-md-4">
                    <input type="radio" name="Stock" value="A"> จองเกินสต็อกไม่ได้<br>
                </div>
                <div class="col-md-4">
                    <input type="radio" name="Stock" value="B"> จองเกินสต้อกได้<br>
                </div>

            </div><br /><hr />

            <h4>ลักษณะการจองวัตถุดิบ</h4><hr />
            <div class="row">
                <div class="col-md-4">
                    <input type="radio" name="Stock" value="A"> จองไม่ครบก็สามารถออกใบสั่งผลิตได้<br>
                </div>
                <div class="col-md-4">
                    <input type="radio" name="Stock" value="B"> จองครบ จึงจะออกใบสั่งผลิตได้<br>
                </div>

            </div><br /><hr />

            <h4>ตั้งค่า Alert</h4><hr />
            <div class="row">
                <div class="col-md-4">
                    <input type="checkbox" name="active" value="active">แจ้งเตือนเมื่อสินค้าน้อยกว่า Safty Stock<br><br />
                    <input type="checkbox" name="active" value="active">แจ้งเตือนเมื่อสินค้าน้อยกว่า Minimum Stock<br>

                </div>
                <div class="col-md-4">
                    <input type="radio" name="Stock" value="A"> เริ่มต้นคลังสินค้าที่ ฐานข้อมูลเล่มเอกสาร<br><br />
                    <input type="radio" name="Stock" value="A"> คลังสินค้าที่ ฐานข้อมูลสินค้า<br>
                </div>

            </div><br /><hr />
        </div>
    </div>

    <!-- Content Tab more -->
    <div id="more" class="tab-pane fade container-fluid">
        <div class="container-fluid">
            <br />
            <h4>Upload Picture</h4><hr />
            <input type="file" name="Stock" value="A"><br />

        </div>
    </div>
</div>

