
@{
    ViewBag.Title = "ManageGroupSupplier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>เพิ่ม/แก้ไข กลุ่มรายชื่อผู้จำหน่าย</h2>

<style type="text/css">
    .DetailsRequired {
        font-size: 15px;
        color: red;
    }

    .bg {
        background-color: lightgrey;
    }

    #head {
        padding: 1px;
    }

    tr {
        border-bottom: 1px solid #ddd;
    }

        tr:nth-child(even) {
            background-color: #f2f2f3;
        }

    th {
        background-color: lightgrey;
        color: black;
    }
</style>

<div class="container">
    <div class="table-responsive table-hover" id="ManageGroupSupplier">
        <table class="table">
            <thead>
                <tr>
                    <th>รหัสกลุ่มผู้จำหน่าย</th>
                    <th>ชื่อกลุ่มผู้จำหน่ายภาษาไทย</th>
                    <th>ชื่อกลุ่มผู้จำหน่ายภาษาอังกฤษ</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container-fluid">
    <div class="bg">
        <div class="btn-group" style="float: right">
            <input type="button" value="ตกลง" class="btn btn-primary btn-sm" id="Clear" />
            <input type="button" value="แก้ไข" class="btn btn-primary btn-sm" id="Save" />
            <input type="button" value="ลบ" class="btn btn-primary btn-sm" id="Delete" />
            <input type="button" value="ยกเลิก" class="btn btn-primary btn-sm" id="Find" />
        </div>
        <br /><br /><br />
        <form action="" id="formManageGroupSupplier">
            <div class="row">
                <div class="row">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-2" id="head">รหัสกลุ่มผู้จำหน่าย :</div>
                        <div class="col-md-2" id="head">
                            <input class="form-control" name="CodeGroupSupplier" ID="CodeGroupSupplier" />
                        </div>
                    </div><br>

                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-2" id="head">ชื่อกลุ่มผู้จำหน่ายภาษาไทย :</div>
                        <div class="col-md-2" id="head">
                            <input class="form-control" name="NameTH_GroupSupplier" ID="NameTH_GroupSupplier" />
                        </div>
                    </div><br>

                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-2" id="head">ชื่อกลุ่มผู้จำหน่ายภาษาอังกฤษ :</div>
                        <div class="col-md-2" id="head">
                            <input class="form-control" name="NameEN_GroupSupplier" ID="NameEN_GroupSupplier" />
                        </div>
                    </div><br><br>

                </div>
            </div>

        </form>
    </div>
</div>

