
@{
    ViewBag.Title = "ManageSaleOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .DetailsRequired {
        font-size: 15px;
        color: red;
    }

    .bg {
        background-color: lightgrey;
    }

    #head {
        padding: 1px;
    }

    tr {
        border-bottom: 1px solid #ddd;
    }

        tr:nth-child(even) {
            background-color: #f2f2f3;
        }

    th {
        background-color: lightgrey;
        color: black;
    }
</style>


<div class="container-fluid">
    <h3 class="box-title">ใบสั่งขาย</h3>
</div>

<!-- Tab Menu -->
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#detail">Detail</a></li>
    <li><a data-toggle="tab" href="#more">More</a></li>
    <li><a data-toggle="tab" href="#rate">Rate</a></li>
    <li><a data-toggle="tab" href="#description">Description</a></li>
</ul>

<div class="container-fluid">
    <div class="btn-group" style="float: right">
        <input type="submit" value="ล้างข้อมูล" class="btn btn-primary btn-sm" id="Clear" />
        <input type="button" value="บันทึก" class="btn btn-primary btn-sm" id="Save" />
        <input type="button" value="ลบ" class="btn btn-primary btn-sm" id="Delete" />
        <input type="submit" value="ค้นหา" class="btn btn-primary btn-sm" id="Find" />
        <input type="submit" value="ดูตัวอย่าง" class="btn btn-primary btn-sm" id="Preview" />
        <input type="submit" value="พิมพ์" class="btn btn-primary btn-sm" id="Print" />
    </div>
    <br />
    <br />
    <br />


    <!-- Detail Tab -->
    <!--รหัสลูกค้า&ชื้อลูกค้า-->
    <div class="row">
        <div class="col-md-4">
            <div style="text-align: left">รหัสลูกค้า</div>
            <div class="input-group">
                <input class="form-control" placeholder="รหัสลูกค้า" name="CustCode" ID="CustCode" />
                <span class="input-group-addon"><i class="glyphicon glyphicon-triangle-bottom"></i></span>


                <input class="form-control" placeholder="ชื่อลูกค้า" name="CustName" ID="CustName" />
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            </div>
        </div>

        <div class="col-md-2">
            <div style="text-align: left">เล่มที่เอกสาร</div>
            <select name="cars" class="form-control">
                <option></option>
                <option></option>
            </select>
        </div>

        <!--เลขที่ใบส่งของ-->
        <div class="col-md-2">
            <div style="text-align: left">เลขที่เอกสาร</div>
            <div class="input-group">
                <input class="form-control" placeholder="เลขที่เอกสาร" name="deliveryNumber" ID="deliveryNumber" />
                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            </div>
        </div>

        <div class="col-md-2">
            <div style="text-align: left">วันที่</div>
            <input class="form-control" type="date" name="Nodate" ID="Nodate" />
        </div>

        <div class="col-md-2">
            <br />
            <input class="form-control" type="time" name="Notime" ID="Notime" />
        </div>

    </div>
    <br />

    <!--ชื่อผู้ติดต่อ-->
    <div class="row">
        <div class="col-md-4">
            <div style="text-align: left">ชื่อผู้ติดต่อ</div>
            <div class="input-group">
                <input class="form-control" placeholder="ชื่อผู้ติดต่อ" name="namecontact" ID="namecontact" />
                <span class="input-group-addon" data-toggle="modal" data-target="#FindNameContact" runat="server"><i class="glyphicon glyphicon-triangle-bottom"></i></span>
                <div class="modal fade" id="FindNameContact" role="dialog">
                    <div class="modal-dialog" style="width: 80%; height: 100%">

                        <!-- Modal content-->
                        <div class="modal-content">

                            <div class="modal-body tab-pane fade in active embed-responsive" style="width: 100%; height: 100%">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title"><b>Find ผู้ติดต่อ</b></h4>
                                </div>
                                <iframe class="embed-responsive-item" src="FindNameContact.aspx" style="border: none; width: 100%; height: 100vh; position: relative;"></iframe>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!--ส่งสินค้าภายใน-->
        <div class="col-md-4">
            <div style="text-align: left">ส่งสินค้าภายใน(วัน)</div>
            <input class="form-control" placeholder="ส่งสินค้าภายใน(วัน)" name="invoiceNumber1" ID="invoiceNumber1" />
        </div>

        <div class="col-md-2">
            <div style="text-align: left">วันที่ส่งสินค้า</div>
            <input class="form-control" type="date" name="deliverydate" ID="deliverydate" />
        </div>

        <div class="col-md-2">
            <br />
            <input class="form-control" type="time" name="deliverytime" ID="deliverytime" />
        </div>

    </div>
    <br />

    <!--เลชที่ PO-->
    <div class="row">
        <div class="col-sm-4">
            <div style="text-align: left">เลขที่ PO</div>
            <input class="form-control" placeholder="เลขที่ PO" name="poNo" ID="poNo" />
        </div>
        <!--วันที่ PO-->
        <div class="col-sm-4">
            <div style="text-align: left">วันที่ PO</div>
            <input class="form-control" type="date" name="PoDate" ID="PoDate" />
        </div>

        <!--อ้างอิง Confirm Order-->
        <div class="col-md-4">
            <div style="text-align: left">อ้างอิง Confirm Order</div>
            <div class="input-group">
                <input class="form-control" placeholder="อ้างอิง Confirm Order" name="soNo" ID="soNo" />
                <span class="input-group-addon" data-toggle="modal" data-target="#FindReferenceConfirmOrder" runat="server"><i class="glyphicon glyphicon-triangle-bottom"></i></span>
                <div class="modal fade" id="FindReferenceConfirmOrder" role="dialog">
                    <div class="modal-dialog" style="width: 80%; height: 100%">

                        <!-- Modal content-->
                        <div class="modal-content">

                            <div class="modal-body tab-pane fade in active embed-responsive" style="width: 100%; height: 100%">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title"><b>Find อ้างอิง Confirm Order</b></h4>
                                </div>
                                <iframe class="embed-responsive-item" src="FindReferenceConfirmOrder.aspx" style="border: none; width: 100%; height: 100vh; position: relative;"></iframe>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>


        <!--On Hold-->
        @*<div class="col-sm-4">
                <div style="text-align: left"></div>
                <br>
                <input type="checkbox" name="checkbox"> On Hold<br>
            </div>*@

    </div>
    <br />


    <div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>กำหนดส่งของ</th>
                        <th>เครดิต(วัน)</th>
                        <th>พนักงานขาย</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div style="width: 100%">
                                <input class="form-control" type="date" name="date" ID="date" />
                            </div>
                        </td>
                        <td>
                            <div style="width: 100%">
                                <input class="form-control" placeholder="เครดิต(วัน)" name="Credit" ID="Credit" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <div class="input-group">
                                    <input class="form-control" placeholder="พนักงานขาย" name="Emp" ID="Emp" />
                                    <span class="input-group-addon" data-toggle="modal" data-target="#FindSalePerson" runat="server"><i class="glyphicon glyphicon-triangle-bottom"></i></span>
                                    <div class="modal fade" id="FindSalePerson" role="dialog">
                                        <div class="modal-dialog" style="width: 80%; height: 100%">

                                            <!-- Modal content-->
                                            <div class="modal-content">

                                                <div class="modal-body tab-pane fade in active embed-responsive" style="width: 100%; height: 100%">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title"><b>Find พนักงานขาย</b></h4>
                                                    </div>
                                                    <iframe class="embed-responsive-item" src="FindSalePerson.aspx" style="border: none; width: 100%; height: 100vh; position: relative;"></iframe>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div><hr />


<!-- Content Tab Detail -->
<div class="tab-content">
    <div id="detail" class="tab-pane fade in active">
        <div class="container-fluid">

            <div class="btn-group" style="float: right">
                <input type="submit" value="เพิ่มสินค้า" class="btn btn-primary btn-sm" id="Clear" />
                <input type="button" value="แก้ไขสินค้า" class="btn btn-primary btn-sm" id="Save" />
                <input type="button" value="ลบสินค้า" class="btn btn-primary btn-sm" id="Delete" />
            </div>
            <br />
            <br />


            <div class="row">
                <div class="col-md-2">
                    <div style="text-align: left">ชุดสินค้า</div>
                    <select name="cars" class="form-control">
                        <option value="P">P</option>
                        <option value="F">F</option>
                    </select>
                </div>


                <div class="col-md-1">
                    <div style="text-align: left">กว้างxยาวxสูง</div>
                    <input class="form-control" ID="width" name="width" placeholder="กว้าง" />
                </div>

                <div class="col-md-1">
                    <br />
                    <input class="form-control" ID="long" name="long" placeholder="ยาว" />
                </div>

                <div class="col-md-1">
                    <br />
                    <input class="form-control" ID="higth" name="higth" placeholder="สูง" />
                </div>


                <div class="col-md-2">
                    <div style="text-align: left">จำนวนหน่วยขาย</div>
                    <input class="form-control" ID="unit" name="width" placeholder="0.0000" />
                </div>
                <div class="col-md-2">
                    <br />
                    <input class="form-control" ID="emtpy" name="width" />
                </div>

                <div class="col-md-3">
                    <div style="text-align: left">ราคา:หน่วยขาย</div>
                    <input class="form-control" ID="unit" name="width" placeholder="0.00" />
                </div>
            </div>
            <br />


            <div class="row">
                <div class="col-md-2">
                    <div style="text-align: left">สินค้า</div>
                    <input type="hidden" name="prod_id" id="prod_id" value="" />
                    <input class="form-control" ID="pcode" name="pcode" placeholder="สินค้า" />
                </div>

                <div class="col-md-3">
                    <br />
                    <div class="input-group">
                        <input class="form-control" ID="pname1" name="pname1" />
                        <span class="input-group-addon" data-toggle="modal" data-target="#FindItemPopup"><i class="glyphicon glyphicon-search"></i></span>

                        <!-- Modal -->
                        <div class="modal fade" id="FindItemPopup" role="dialog">
                            <div class="modal-dialog" style="width: 80%; height: 80%">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">ค้นหาสินค้า/วัตถุดิบ</h4>
                                    </div>

                                    <div class="modal-body">
                                        <div class="row">


                                            <div class="col-md-1">ชนิดสินค้า</div>
                                            <div class="col-md-2">
                                                <select class="form-control" id="item">
                                                    <option value="1001">สินค้าสำเร็จรูป</option>
                                                    <option value="1002">สินค้ากึ่งสำเร็จรูป</option>
                                                    <option value="1003">วัตถุดิบ</option>
                                                    <option value="1004">บรรจุภัณฑ์</option>
                                                    <option value="1006">วัสดุสิ้นเปลือง</option>
                                                    <option value="2001">สิ้นค้า จัดซื้อ</option>
                                                    <option value="1007">อะไหล่</option>
                                                    <option value="1008">เครื่องมือ</option>
                                                    <option value="1009">อื่นๆ</option>
                                                </select>
                                            </div>
                                            <div class="col-md-1">ค้นโดย</div>
                                            <div class="col-md-3">
                                                <input class="form-control" ID="InsertItem" name="width" placeholder="" />
                                            </div>
                                            <div class="col-md-1">
                                                <input type="submit" value="ค้นหา" class="btn btn-primary" id="SearchItem" />
                                            </div>
                                        </div>
                                        <br />

                                        <table class="table table-responsive table-hover" id="product">
                                            @*<thead>
                                                    <tr>
                                                        <th>รหัส</th>
                                                        <th>ชื่อ</th>
                                                        <th>ชื่อภาษา2</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var ProductModel in ViewBag.MyData)
                                                    {
                                                        <tr>
                                                            <td data-id="@ProductModel.prod_id">
                                                                @ProductModel.pcode
                                                            </td>
                                                            <td>
                                                                @ProductModel.pname1
                                                            </td>
                                                            <td>
                                                                @ProductModel.pname11
                                                            </td>

                                                        </tr>
                                                    }
                                                </tbody>*@
                                        </table>
                                    </div>
                                    <br />
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="col-md-2">
                    <div style="text-align: left">จำนวนมาตรฐาน</div>
                    <input class="form-control" ID="unit" name="width" placeholder="0.0000" />
                </div>
                <div class="col-md-2">
                    <br />
                    <input class="form-control" ID="emtpy" name="width" />
                </div>

                <div class="col-md-3">
                    <div style="text-align: left">ส่วนลด</div>
                    <input class="form-control" ID="Discount" name="width" placeholder="0.00" />
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-2">
                    <div style="text-align: left">Lot</div>
                    <div class="input-group">
                        <input class="form-control" ID="StockName" name="width" />
                        <span class="input-group-addon" runat="server"><i class="glyphicon glyphicon-search"></i></span>
                    </div>
                </div>

                <div class="col-md-3"></div>

                <div class="col-md-2">
                    <div style="text-align: left">วันที่ผลิตเสร็จ</div>
                    <input class="form-control" type="date" ID="ManufacturedDate" name="ManufacturedDate" />
                </div>
                <div class="col-md-2">
                    <br />
                    <input class="form-control" type="time" ID="ManufacturedTime" name="ManufacturedTime" />
                </div>

                <div class="col-md-3">
                    <div style="text-align: left">ส่วนลด</div>
                    <input class="form-control" ID="Discount" name="Discount" placeholder="0.00" />
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-2">
                    <div style="text-align: left">TagId</div>
                    <input class="form-control" ID="TagId" name="TagId" />
                </div>
            </div>

            <br />
            <div class="table-responsive table-hover">
                <table class="table">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>รหัสสินค้า</th>
                            <th>ชื่อสินค้า</th>
                            <th>Lot</th>
                            <th>ที่เก็บ</th>
                            <th>จำนวน</th>
                            <th>หน่วยขาย</th>
                            <th>จำนวน</th>
                            <th>หน่วยมาตรฐาน</th>
                            <th>ราคาขาย</th>
                            <th>จำนวนเงิน</th>
                            <th>ส่วนลด</th>
                            <th>TabId</th>
                            <th>วันที่ส่งของ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br />
            <br />

            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-2" style="text-align: right">จำนวนเงินรวม</div>
                <div class="col-md-2"><input class="form-control" name="totalCash" placeholder=".00" ReadOnly /></div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-2" style="text-align: right">ส่วนลดการค้า</div>
                <div class="col-md-2"><input class="form-control" name="tradeDiscount1" placeholder=".00" /></div>
                <div class="col-md-2"><input class="form-control" name="tradeDiscount2" placeholder=".00" ReadOnly /></div>
                <div class="col-md-2"><input class="form-control" name="tradeDiscount3" placeholder=".00" ReadOnly /></div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2" style="text-align: right">VAT แยกนอก</div>
                <div class="col-md-1">
                    <select class="form-control">
                        <option>Y</option>
                        <option>N</option>
                    </select>
                </div>
                <div class="col-md-1" style="text-align: right">ฐานภาษี</div>
                <div class="col-md-2"><input class="form-control" id="" name="taxBase" placeholder=".00" /></div>
                <div class="col-md-2"><input class="form-control" id="" name="taxRate" placeholder="อัตราภาษี(%)" ReadOnly /></div>
                <div class="col-md-2"><input class="form-control" id="" name="productName" placeholder=".00" /></div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-1" style="text-align: right">รวมทั้งสิ้น</div>
                <div class="col-md-2"><input class="form-control" name="total" placeholder=".00" ReadOnly /></div>
            </div>
            <br />

        </div>
    </div>

    <!-- content Tab More -->
    <div id="more" class="tab-pane fade container-fluid">
        <div class="col-sm-1"></div>
        <div class="row">
            <div class="col-sm-5">
                <div style="text-align: left">กลุ่มภาษี</div>
                <div class="input-group">
                    <input class="form-control" placeholder="กลุ่มภาษี" name="TaxGroup" ID="TaxGroup" />
                    <span class="input-group-addon" data-toggle="modal" data-target="#FindTaxGroup" runat="server"><i class="glyphicon glyphicon-triangle-bottom"></i></span>
                    <div class="modal fade" id="FindTaxGroup" role="dialog">
                        <div class="modal-dialog" style="width: 80%; height: 100%">

                            <!-- Modal content-->
                            <div class="modal-content">

                                <div class="modal-body tab-pane fade in active embed-responsive" style="width: 100%; height: 100%">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title"><b>Find กลุ่มภาษี</b></h4>
                                    </div>
                                    <iframe class="embed-responsive-item" src="FindTaxGroup.aspx" style="border: none; width: 100%; height: 100vh; position: relative;"></iframe>
                                </div>

                            </div>

                        </div>
                    </div>


                </div>
            </div>
            <div class="col-sm-3">
                <div style="text-align: left">ประเภทภาษี(วัน)</div>
                <input class="form-control" name="TaxType" ID="TaxType" disabled />
            </div>
            <div class="col-sm-2">
                <div style="text-align: left">อัตราภาษี(%)</div>
                <input class="form-control" name="taxra1" ID="taxra1" disabled />
            </div>
        </div>
        <br />
        <div class="col-sm-1"></div>
        <div class="row">
            <div class="col-sm-5">
                <div style="text-align: left">สถานที่ส่งของ</div>
                <div class="input-group">
                    <input class="form-control" name="place" ID="place" placeholder="สถานที่ส่งของ" />
                    <span class="input-group-addon" data-toggle="modal" data-target="#FindPlaceOfDelivery" runat="server"><i class="glyphicon glyphicon-triangle-bottom"></i></span>
                    <div class="modal fade" id="FindPlaceOfDelivery" role="dialog">
                        <div class="modal-dialog" style="width: 80%; height: 100%">

                            <!-- Modal content-->
                            <div class="modal-content">

                                <div class="modal-body tab-pane fade in active embed-responsive" style="width: 100%; height: 100%">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title"><b>Find สถานที่ส่งของ</b></h4>
                                    </div>
                                    <iframe class="embed-responsive-item" src="FindPlaceOfDelivery.aspx" style="border: none; width: 100%; height: 100vh; position: relative;"></iframe>
                                </div>

                            </div>

                        </div>
                    </div>
                    <span class="input-group-addon" data-toggle="modal" data-target="#FindLocationDetail" runat="server"><i class="glyphicon glyphicon-search"></i></span>
                    <div class="modal fade" id="FindLocationDetail" role="dialog">
                        <div class="modal-dialog" style="width: 80%; height: 100%">

                            <!-- Modal content-->
                            <div class="modal-content">

                                <div class="modal-body tab-pane fade in active embed-responsive" style="width: 100%; height: 100%">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title"><b>รายละเอียดสถานที่ส่งของ</b></h4>
                                    </div>
                                    <iframe class="embed-responsive-item" src="FindLocationDetail.aspx" style="border: none; width: 100%; height: 100vh; position: relative;"></iframe>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="col-sm-1"></div>
        <div class="row">
            <div class="col-sm-5">
                <div style="text-align: left">ประเภทสินค้า</div>
                <select class="form-control">
                    <option selected disabled>ประเภทสินค้า</option>
                    <option>ประเภทสินค้า</option>
                    <option>สินค้า</option>
                    <option>บริการ</option>
                </select>
            </div>
        </div>
        <br />
        <div class="col-sm-1"></div>
        <div class="row">
            <div class="col-sm-5">
                <div style="text-align: left">เขตการขาย</div>
                <div class="input-group">
                    <input class="form-control" placeholder="เขตการขาย" name="Textbox5" ID="Textbox5" />
                    <span class="input-group-addon" data-toggle="modal" data-target="#FindSaleArea" runat="server"><i class="glyphicon glyphicon-triangle-bottom"></i></span>
                    <div class="modal fade" id="FindSaleArea" role="dialog">
                        <div class="modal-dialog" style="width: 80%; height: 100%">

                            <!-- Modal content-->
                            <div class="modal-content">

                                <div class="modal-body tab-pane fade in active embed-responsive" style="width: 100%; height: 100%">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title"><b>Find เขตการขาย</b></h4>
                                    </div>
                                    <iframe class="embed-responsive-item" src="FindSaleArea.aspx" style="border: none; width: 100%; height: 100vh; position: relative;"></iframe>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="col-sm-5">
                <input class="form-control" name="Textbox6" ID="Textbox6" disabled />
            </div>
        </div>
        <br />
        <div class="col-sm-1"></div>
        <div class="row">
            <div class="col-sm-5">
                <div style="text-align: left">แผนก</div>
                <div class="input-group">
                    <input class="form-control" placeholder="แผนก" name="Textbox7" ID="Textbox7" />
                    <span class="input-group-addon" data-toggle="modal" data-target="#FindDepartment" runat="server"><i class="glyphicon glyphicon-triangle-bottom"></i></span>
                    <div class="modal fade" id="FindDepartment" role="dialog">
                        <div class="modal-dialog" style="width: 80%; height: 100%">

                            <!-- Modal content-->
                            <div class="modal-content">

                                <div class="modal-body tab-pane fade in active embed-responsive" style="width: 100%; height: 100%">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title"><b>Find แผนก</b></h4>
                                    </div>
                                    <iframe class="embed-responsive-item" src="FindDepartment.aspx" style="border: none; width: 100%; height: 100vh; position: relative;"></iframe>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="col-sm-5">
                <input class="form-control" name="Textbox6" ID="Textbox6" disabled />
            </div>
        </div>
        <br />
        <div class="col-sm-1"></div>
        <div class="row">
            <div class="col-sm-5">
                <div style="text-align: left">รหัส Job</div>
                <div class="input-group">
                    <input class="form-control" name="Textbox9" ID="Textbox9" placeholder="รหัส Job" />
                    <span class="input-group-addon" data-toggle="modal" data-target="#FindIdJob" runat="server"><i class="glyphicon glyphicon-triangle-bottom"></i></span>
                    <div class="modal fade" id="FindIdJob" role="dialog">
                        <div class="modal-dialog" style="width: 80%; height: 100%">

                            <!-- Modal content-->
                            <div class="modal-content">

                                <div class="modal-body tab-pane fade in active embed-responsive" style="width: 100%; height: 100%">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title"><b>Find รหัส Job</b></h4>
                                    </div>
                                    <iframe class="embed-responsive-item" src="FindIdJob.aspx" style="border: none; width: 100%; height: 100vh; position: relative;"></iframe>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <br />
                <input class="form-control" name="Textbox10" ID="Textbox10" disabled />
            </div>
        </div><br />
        <div class="col-sm-2"></div>
        <div class="row">
            <div class="col-sm-3">
                <div style="text-align: left"></div>
                <br>
                <input type="checkbox" name="checkbox">
                Clear
            </div>
        </div>
        <br />
        <div class="col-sm-2"></div>
        <div class="row">
            <div class="col-sm-7">
                <div class="form-group">
                    เหตุผลการ Clear
                    <textarea class="form-control" rows="5" id="comment" placeholder="เหตุผลการ Clear"></textarea>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />

    </div>

    <!-- content Tab Rate -->
    <div id="rate" class="tab-pane fade container-fluid">
        <div class="col-sm-3"></div>
        <div class="row">
            <div class="col-sm-3">
                <div style="text-align: left"></div>
                <br>
                <input type="checkbox" name="checkbox">
                Multicurrency
            </div>
        </div>
        <br />
        <br />

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-3">
                <div style="text-align: left">วันที่อัตราแลกเปลี่ยน</div>
                <input class="form-control" type="date" name="CurrDate" ID="CurrDate" />
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-3">
                <div style="text-align: left">รหัสสกุลเงิน</div>
                <div class="input-group">
                    <input class="form-control" name="Textbox6" ID="Textbox6" placeholder="รหัสสกุลเงิน" />
                    <span class="input-group-addon" data-toggle="modal" data-target="#FindCurrency" runat="server"><i class="glyphicon glyphicon-triangle-bottom"></i></span>
                    <div class="modal fade" id="FindCurrency" role="dialog">
                        <div class="modal-dialog" style="width: 80%; height: 100%">

                            <!-- Modal content-->
                            <div class="modal-content">

                                <div class="modal-body tab-pane fade in active embed-responsive" style="width: 100%; height: 100%">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title"><b>Find รหัสสกุลเงิน</b></h4>
                                    </div>
                                    <iframe class="embed-responsive-item" src="FindCurrency.aspx" style="border: none; width: 100%; height: 100vh; position: relative;"></iframe>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="col-sm-3">
                <input class="form-control" name="Textbox6" ID="Textbox6" disabled />
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-3">
                <div style="text-align: left">รหัสประเภทอัตราแลกเปลี่ยน</div>
                <div class="input-group">
                    <input class="form-control" name="Textbox6" ID="Textbox6" placeholder="รหัสประเภทอัตราแลกเปลี่ยน" />
                    <span class="input-group-addon" data-toggle="modal" data-target="#FindExchangeRateType" runat="server"><i class="glyphicon glyphicon-triangle-bottom"></i></span>
                    <div class="modal fade" id="FindExchangeRateType" role="dialog">
                        <div class="modal-dialog" style="width: 80%; height: 100%">

                            <!-- Modal content-->
                            <div class="modal-content">

                                <div class="modal-body tab-pane fade in active embed-responsive" style="width: 100%; height: 100%">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title"><b>Find รหัสประเภทอัตราแลกเปลี่ยน</b></h4>
                                    </div>
                                    <iframe class="embed-responsive-item" src="FindExchangeRateType.aspx" style="border: none; width: 100%; height: 100vh; position: relative;"></iframe>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="col-sm-3">
                <input class="form-control" name="Textbox6" ID="Textbox6" disabled />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-3">
                <div style="text-align: left">อัตราแลกเปลี่ยน</div>
                <input class="form-control" name="Textbox6" ID="Textbox6" disabled />
            </div>
        </div>



        <br />
        <br />
        <br />
    </div>

    <!-- Content Tab Description -->
    <div id="description" class="tab-pane fade container-fluid">

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-sm-8">
                <div class="form-group">
                    description
                    <textarea class="form-control" rows="5" id="comment" placeholder="description"></textarea>
                </div>
            </div>
        </div>


        <br />
        <br />
        <br />
    </div>
</div>

<script>


    function showTable(data) {
        var table = "<tr><th>รหัส</th><th>ชื่อ</th><th>ชื่อภาษา2</th></tr>";
        $.each(data, function (key, value) {
            table += "<tr>";
            table += "<td>" + value.pcode + "</td>";
            table += "<td>" + value.pname1 + "</td>";
            table += "<td>" + value.pname11 + "</td>";
            table += "</tr>";
        });
        $("#product").html(table);
    }

    $("#item").change(function () {
        var id = $(this).val();
        //if (id != null) {
        $.ajax({
            url: 'ShowTableFindItemPopup',
            type: 'post',
            data: {
                'id': id
            },
            dataType: "json",
            success: function (data) {
                showTable(data);
            }
        });
    })

    $("#product table").delegate('tr', 'click', function () {
        var id = $(this).find("td:first").data("id");
        if (id != null) {
            $.ajax({
                url: 'GetTableFindItem',
                type: 'post',
                data: {
                    'id': id
                },
                dataType: "json",
                success: function (data) {
                    $('#prod_id').val(data.prod_id);
                    $('#pcode').val(data.pcode);
                    $('#pname1').val(data.pname1);
                    $('#pname11').val(data.pname11);
                }
            });
        } else {
            $('#prod_id').val("");
            $('#pcode').val("");
            $('#pname1').val("");
            $('#pname11').val("");
        }
    })





</script>

